.bt1 {
  background-color:rgb(200, 0, 0);
  color:white;
  border: none;
  border-radius: 3px;
  height:35px;
  width: 120px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 8px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
  transition: background-color .15s;
}

.bt1:hover{
  background-color: green;
}

.bt1:active{
  background-color: blue;
}

.bt2 {
  cursor: pointer;
  height: 35px;
  width: 65px;
  color: rgb(0, 0, 255);
  background-color: rgb(255,255,255);
  border-color:rgb(210, 210, 221);
  border-style: solid;
  border-radius: 3px;
  margin-right: 8px;
  font-weight: bold;
  font-size: 15px;
  transition: opacity .15s, background-color .15s, color .5s;
}

.bt2:hover{
  background-color: rgb(0, 0, 255);
  color: rgb(255,255,255); ;
}

.bt2:active{
  opacity: .5;
}


.bt3 {
  cursor: pointer;
  height: 35px;
  width: 75px;
  color: rgb(255, 255, 255);
  background-color: rgb(29, 161, 242);
  border-radius: 18px;
  border-style: none;
  font-weight: bold;
  font-size: 15px;
  transition: box-shadow .15s;
}

.bt3:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.Uber{
  cursor: pointer;
  height: 40px;
  width: 130px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-style: none;
  font-size: 15px; 
  margin: 10px;
  transition: opacity .15s;
}

.Uber:hover{
  opacity: .7;
}

.Uber:active{
  opacity: .4;
}

.Amazon{
  cursor: pointer;
  height: 40px;
  width: 200px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 216, 20);
  border-style: none;
  border-radius: 20px;
  font-size: 15px; 
  font-weight: bold;
  margin: 10px;
  transition: .15s;
}

.Amazon:hover{
  background-color: rgba(255, 216, 20, .5);
}

.Amazon:active{
  opacity: .5;
}

.GitHub{
  cursor: pointer;
  height: 40px;
  width: 100px;
  color: rgb(255, 255, 255);
  background-color: rgb(46, 164, 79);
  border-style: none;
  border-radius: 5px;
  font-size: 15px; 
  font-weight: bold;
  margin: 10px;
  transition: .15s;
}

.GitHub:hover{
  background-color: rgb(46, 134, 79);
  box-shadow: 5px 5px 5px green;
}

.GitHub:active{
  opacity: .5;
}

.Bootstrap{
  cursor: pointer;
  height: 40px;
  width: 130px;
  color: rgb(255, 255, 255);
  background-color: rgb(121, 82, 179);
  border-style: none;
  border-radius: 3px;
  font-size: 15px; 
  font-weight: bold;
  margin: 10px;
  transition: .15s;
}

.Bootstrap:hover{
  background-color: rgb(121, 52, 179);
  box-shadow: 5px 5px 5px purple;
}

.Bootstrap:active{
  opacity: .5;
}

.Download{
  cursor: pointer;
  height: 40px;
  width: 130px;
  color: rgb(108, 117, 125);
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(108, 117, 125);
  border-radius: 3px;
  font-size: 15px; 
  font-weight: bold;
  margin-left: -5px;
  transition: .15s;
}

.Download:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(108, 117, 125);
}

.Download:active{
  opacity: .5;
}

.LinkedIn{
  cursor: pointer;
  height: 40px;
  width: 245px;
  color: rgb(255, 255, 255);
  background-color: rgb(10, 102, 194);
  border-style: none;
  border-radius: 30px;
  font-size: 15px; 
  font-weight: bold;
  margin: 10px;
  transition: .15s;
}

.LinkedIn:hover{
  background-color: rgb(10, 102, 170);
  box-shadow: 5px 5px 5px blue;
}

.LinkedIn:active{
  background-color: rgb(6, 10, 164);
}

.Save{
  cursor: pointer;
  height: 40px;
  width: 85px;
  color: rgb(10, 102, 194);
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(10, 102, 194);
  border-radius: 30px;
  font-size: 15px; 
  font-weight: bold;
  margin-left: -2px;
  transition: .15s;
}

.Save:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(10, 102, 194);
}

.Save:active{
  opacity: 0.5;
}

.amazon-link{
  color: rgb(0, 113, 133);
  font-size: 20px;
  transition: .15s;
}

.amazon-link:hover{
  color:purple;
  text-decoration: none;
}

.amazon-link:active{
  color: red;
}

.nike{
    font-size: 30px;
    font-weight: bold;
}

.price{
  color: rgb(0, 118, 0);
  font-size: 20px;
  font-weight: bold;
}

.delivery{
  font-size: 20px;
  font-weight: bold;
}

.cart{
  cursor: pointer;
  height: 35px;
  width: 130px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 216, 20);
  border-style: none;
  border-radius: 20px;
  font-size: 15px; 
  font-weight: bold;
  margin-left: auto;
  margin-right: 8px;
  transition: .15s;
}

.cart:hover{
  opacity: .7;
}

.cart:active{
  opacity: .4;
}

.buy{
  cursor: pointer;
  height: 35px;
  width: 130px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 164, 28);
  border-style: none;
  border-radius: 20px;
  font-size: 15px; 
  font-weight: bold;
  transition: opacity .15s, ;
}

.buy:hover{
  opacity: .7;
}

.buy:active{
  opacity: .4;
}